ACTION=="add", KERNEL=="chumby_xilinx", ENV{ID_CLASS}="fpga", ENV{ID_BUS}="soc", RUN+="/bin/sh -c 'mknod /dev/fpga c $(grep fpga /proc/devices | tr -d [a-zA-Z]) 0'"
DRIVER=="pxa168fb_ovly", ENV{TYPE}=="trigger", RUN+="/usr/bin/derive_km"
DRIVER=="pxa168fb_ovly", ENV{TYPE}=="trigger", RUN+="/usr/bin/killall -URG matchmoded"
DRIVER=="pxa168fb_ovly", ENV{TYPE}=="detach", RUN+="/usr/bin/killall -USR2 matchmoded"
DRIVER=="pxa168fb_ovly", ENV{TYPE}=="attach", RUN+="/usr/bin/killall -USR2 matchmoded"
DRIVER=="pxa168fb_ovly", ENV{TYPE}=="src_attach", RUN+="/usr/bin/killall -WINCH matchmoded"
DRIVER=="pxa168fb_ovly", ENV{TYPE}=="src_detach", RUN+="/usr/bin/killall -WINCH matchmoded"
