[Desktop Entry]
Version=1.0
Type=Application
Name=Pidgin
GenericName=Chat Client
Exec=pidgin %u
Icon=pidgin
Terminal=false
Categories=GTK;Network;Chat;
StartupNotify=true
X-Osso-Type=application/x-executable
X-Osso-Service=pidgin
